/* General Styling */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background: url('./images/world.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Container for Transparency */
.container {
    background-color: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #e0e0e0;
}
/* Header Styling */
header {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(63, 81, 181, 0.8); /* Indigo background */
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header h1 {
    font-size: 3em;
    font-weight: bold;
    color: #ffeb3b; /* Bright yellow text */
    margin: 0;
}
/* Main Section Styling */
main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 1.8em;
    font-weight: bold;
    border: 2px solid #4caf50;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
    background-color: #f5f5f5;
    color: #333;
}

button {
    padding: 12px 18px;
    font-size: 1.8em;
    font-weight: bold;
    background-color: #03a9f4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0288d1;
}

/* Country Info Section */
#countryInfo {
    margin-top: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

#countryInfo img {
    margin-top: 10px;
    border: 3px solid #4caf50;
    border-radius: 10px;
}
/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: rgba(63, 81, 181, 0.8); /* Indigo background */
    border-radius: 10px;
    margin-top: 20px;
    color: #e0e0e0;
}

footer a {
    color: #1dee38; /* Bright yellow link */
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

